.cr--body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cr--container{
    width:70%;
    height:auto;
    background-color: rgb(231, 244, 248);

}

@media screen and (max-width: 800px) {
    .cr--container{
        width:90%;
        height:auto;
    }
  }
.header{
    position: relative;
    width:100%;
    height:35vh;
    margin-bottom: 10px;
}
.cr--image{
    height: 100%;
    width: 100%;    
}

.cr--image__heading{
    position: absolute;
    bottom:0;
    right:0;
    font-size: 1.5rrem;
    background-image: linear-gradient(to right bottom, rgba(124, 241, 250, 0.85), rgba(48, 69, 255, 0.85));
    padding: 20px 20px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    transition:  all 0.3s ease-in-out ;
    opacity: 0.7;
}

.cr--image__heading:hover{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    height: inherit;
    width: inherit;
    transform:scale(1);
    opacity: 1.1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cr--element__position1{
    width: 80%; 
    margin-top: 10px;
}
    

.cr--element__position2{
width: 90%;
margin-top: 35px;
}
@media screen and (max-width: 960px) {
  .cr--element__position2{
    width: 80%;
    margin-top: 35px;
    }
}
.cr--element__position3{
    width: 35%;
    margin-top: 10px;
    
}
.cr--element__position4{
    width: 40%;
    margin-top: 10px;
    
}
.cr--element__position5{
    width: 30%;
    margin-top: 10px;
    
}
.cr--element__position6{
    width: 50%;
    margin-top: 10px;
    
}
.cr--element__position7{
    width: 20%;
    margin-top: 10px;
    
}
.cr--buttob__container{
    margin-top: 30px;
    margin-bottom: 30px;
}
.cr--cancel__button{
background: red;
color: white;
font-weight: 800;
padding: 12px 25px;
}
.cr--submit__button{
  background: green;
  color: white;
font-weight: 800;
padding: 12px 25px;
}
.cr--submit__button:hove{
  box-shadow: 0 2px 6px rgb(35 173 255);
}